<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


	<title>DeviantPadam</title>

 </head>
 <body>
    <h1>Its a(n) {{labels[0]}}</h1>
    <img src="{{url_for('static',filename='imgs/'+filename)}}" >
    <table>
    <tr>
    <th>Label</th>
    <th>Probability</th>
    </tr>
    {% for i in range(labels|length)%}
    <tr>
    <td>{{labels[i]}}</td>
    <td>{{probs[i]}}</td>
     </tr>
    {% endfor%}
    </table>
    <br/>
    <a href="{{url_for('upload_file')}}">Back</a>
  </body>
</html>